streamlit==1.41.1
yfinance==0.2.50
pandas==2.2.2
numpy==1.24.3  # Kompatibel dengan TensorFlow 2.13.0
matplotlib==3.8.0
scikit-learn==1.6.0
keras==3.5.0
joblib==1.4.2
tensorflow==2.13.0
# Install TA-Lib wheel
https://github.com/zakyirhab/prediksibtc/raw/main/TA_Lib-0.4.28-cp312-cp312-win_amd64.whl
